:root {
  --primary: #3656d3;
  --secondary: #0093e8d7;
  --animated-bg-main: #001c2b;
  --main-bg: #90d6ff;
  --text-color: #2c4296;
  --progress: linear-gradient(90deg, #001f4d, #002966, #003d80, #0056b3, #007bff);
  --ccc: #ccc;
  --overlay-bg: #d8f1ff;
  --small: #90d6ff91;
}
body.light-theme {
  --primary: #2c4296;
  --secondary: #90d6ff;
  --animated-bg-main: #b5e4ff;
  --main-bg: #14a9ff;
  --text-color: #90d6ff;
  --progress: linear-gradient(90deg, #001f4d, #002966, #003d80, #0056b3, #007bff);
  --ccc: #ccc;
  --overlay-bg: #001c2b;
  --small: #2c8ac1b0;
}

body{
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
  	font-family: 'Inter', sans-serif;
	background: var(--animated-bg-main);
	color: var(--text-color);
	transition: background-color 0.3s ease, color 0.3s ease;
}
small {
	display: none;
}
@media (max-width: 800px) {
	small {
		display: block;
		color: var(--small);
	}
}@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  70% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.clock-wrap{
	width: 90%;
	height: 300px;
	padding: 20px;
	padding-block: 40px;
	justify-content: center;
	background: transparent;
	border-radius: 14px;
	color: var(--main-bg);
	display:flex;flex-direction:column;align-items:center;gap:20px;
}
header h1{
	display:flex;
	align-items:center;
	gap:10px;
	font-size: clamp(2rem, 10vw, 4rem);
}
header img{
	height: clamp(30px, 10vw, 70px);
	margin-top: clamp(0px, 10vw, 10px);
	width:auto;
}
.clock-wrap .label, .clock-wrap .sep {
	color: var(--main-bg);
}
.clock{
	display:flex;gap: 30px;
	font-size: 70px;
	font-weight: 700;
	flex-wrap: nowrap;
	margin-bottom: 20px;
	justify-content: center;
}
.unit{display:flex;flex-direction:column;align-items:center;overflow:hidden;}
.label{font-size:20px;color:var(--secondary);}
.sep{color:var(--secondary);}
.hidden {
  display: none !important;
}
#unit-days, #unit-hours, #unit-minutes, #unit-seconds {
  display: flex;
}
#sep-days, #sep-hours, #sep-minutes {
  display: block;
}

@media (max-width: 800px) {
	#unit-days, #unit-hours, #unit-minutes {
	  	display: flex;
	}

	#unit-seconds {
		display: none;
	}

	#sep-days, #sep-hours {
		display: block;
	}

	#sep-minutes {
		display: none;
	} 
}

@media (max-width: 650px) {
	#unit-days, #unit-hours {
	  	display: flex;
	}

	#unit-minutes, #unit-seconds {
		display: none;
	}

	#sep-day {
		display: block;
	}

	#sep-hours, #sep-minutes {
		display: none;
	} 
}

@media (max-width: 400px) {
	#unit-days {
	  	display: flex;
	}

	#unit-hours, #unit-minutes, #unit-seconds {
		display: none;
	}

	#sep-days, #sep-hours, #sep-minutes {
		display: none;
	} 
}

.change {
	color: var(--primary);
	animation: slideDown 0.4s ease;
}
@keyframes slideDown {
	0% { opacity: 0; transform: translateY(-100%); }
	50% { opacity: 1; transform: translateY(0); }
	100% { opacity: 1; transform: translateY(0); }
}

#progress-container {
  width: 100%;
  height: 6px;
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background: var(--progress);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: width 0.3s ease;
  transition: background 0.3s ease;
}
#progress-text {
  position: fixed; 
  top: 10px; 
  left: 50%; 
  transform: translateX(-50%);
  font-size: 12px;
  color: var(--main-bg); 
  z-index: 10000;
}

.theme-switch {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10000;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.theme-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 26px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: var(--main-bg);
  border-radius: 50%;
  transition: transform 0.3s;
}

input:checked + .slider {
  background-color: var(--secondary);
}

input:checked + .slider::before {
  transform: translateX(24px);
}

@keyframes spin-pause {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hourglass-spin {
  margin-right: 10px;
  transform-origin: center center;
  animation: spin-pause 1s linear infinite;
}
