@import url(./variables.min.css);

.cta-button {
  width: auto;
  max-width: 250px;
  padding: 8px 14px;
  margin: 0 auto;
  border: 2px solid var(--secondary);
  color: var(--main-text-color);
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: 0.1s;
}

.cta-button:hover,
.cta-button:focus-visible {
  background: var(--secondary);
  transform: scale(1.03);
  outline-offset: 0;
  outline: 2px solid var(--main-bg);
}
