@import url(./variables.css);

.recent-chats {
  max-width: 100%;
  width: 100%;
  margin: 0;
  background: transparent;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #757575;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  border-bottom: 1px solid #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.chat-item:last-child {
  border-bottom: none;
}

.chat-item:active {
  background-color: var(--chat-hover);
}

.chat-item img.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--secondary) 
}

.chat-details {
  flex-grow: 1;
  overflow: hidden;
}

.chat-details .chat-name {
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-details .chat-last-message {
  font-size: 0.9rem;
  color: #8b8b8b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-unread-badge {
  background-color: var(--main-bg); 
  color: white;
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: 12px;
  font-weight: 700;
  min-width: 24px;
  text-align: center;
  user-select: none;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .chat-item {
    padding: 10px 6px;
  }

  .chat-item img.avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .chat-details .chat-name {
    font-size: 1.2rem;
  }

  .chat-details .chat-last-message {
    font-size: 1rem;
  }

  .chat-unread-badge {
    font-size: 0.8rem;
    padding: 3px 6px;
  }
}

@media (max-width: 480px) {
  .chat-item img.avatar {
    width: 50px;
    height: 50px;
    margin-right: 8px;
  }

  .chat-details .chat-name {
    font-size: 1.2rem;
  }

  .chat-details .chat-last-message {
    font-size: 1rem;
  }

  .chat-unread-badge {
    font-size: 0.8rem;
    padding: 3px 6px;
  }
}

.friend-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid #333;
}

.friend-item:active {
  background-color: var(--chat-hover);
}

.friend-item img.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--secondary);
}

.friend-name {
  font-weight: 600;
  font-size: 1.05rem;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}
