.custom-menu {
  position: absolute;
  background: var(--primary);
  border: 1px solid var(--secondary);
  color: var(--accent);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  max-width: 300px;
  width: auto;
  display: none;
  flex-direction: column;
  z-index: 100000;
  user-select: none;
}

.custom-menu::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.custom-menu.arrow-top::before {
  border: 8px solid transparent;
  border-bottom-color: var(--primary);
  top: -16px;
  left: var(--arrow-x, 20px);
}

.custom-menu.arrow-bottom::before {
  border: 8px solid transparent;
  border-top-color: var(--primary);
  bottom: -16px;
  left: var(--arrow-x, 20px);
}

.custom-menu.arrow-left::before {
  border: 8px solid transparent;
  border-right-color: var(--primary);
  left: -16px;
  top: var(--arrow-y, 20px);
}

.custom-menu.arrow-right::before {
  border: 8px solid transparent;
  border-left-color: var(--primary);
  right: -16px;
  top: var(--arrow-y, 20px);
}

.custom-menu.visible {
  display: flex;
}

.custom-menu .dynamic,
.custom-menu .bottom {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.custom-menu .dynamic.hidden {
  display: none;
}

.custom-menu .dynamic a,
.custom-menu .bottom a {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px 12px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  transition: background 0.2s;
}

.custom-menu .dynamic small,
.custom-menu .bottom small {
  display: block;
  background: none;
  text-align: center;
  border-radius: 5px;
  padding: 4px 6px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
}

.custom-menu .dynamic small a,
.custom-menu .bottom small a {
  all: unset;
  text-decoration: none;
}

.custom-menu .dynamic small a:hover,
.custom-menu .bottom small a:hover {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.custom-menu .dynamic a i,
.custom-menu .bottom a i ,
.custom-menu .dynamic small i,
.custom-menu .bottom small i {
  margin-right: 5px;
}

.custom-menu .dynamic {
  border-bottom: 1px solid var(--secondary);
}

.custom-menu .dynamic a:hover,
.custom-menu .bottom a:hover {
  cursor: pointer;
  background: var(--main-bg);
}

.custom-menu a .red,
.custom-menu a i .red,
.custom-menu a span .red {
  color: #ff4444ff;
}

.custom-menu a:has(.red):hover {
  background: #ff181891;
}

.custom-menu a:has(.red):hover .red {
  color: #ffeeeeff;
}

.custom-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-menu li {
  max-width: 220px;
}