.custom-menu {
  position: absolute;
  background: var(--primary);
  border: 1px solid var(--secondary);
  color: var(--accent);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  max-width: 300px;
  width: auto;
  display: none;
  flex-direction: column;
  z-index: 1000000;
  user-select: none;
}

.custom-menu.visible {
  display: flex;
}

.custom-menu .dynamic,
.custom-menu .bottom {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.custom-menu .dynamic.hidden {
  display: none;
}

.custom-menu .dynamic a,
.custom-menu .bottom a {
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 10px 12px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  transition: background 0.2s;
}

.custom-menu .dynamic small,
.custom-menu .bottom small {
  display: block;
  background: none;
  text-align: center;
  border-radius: 10px;
  padding: 4px 6px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
}

.custom-menu .dynamic small a,
.custom-menu .bottom small a {
  all: unset;
  text-decoration: none;
}

.custom-menu .dynamic small a:hover,
.custom-menu .bottom small a:hover {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.custom-menu .dynamic a i,
.custom-menu .bottom a i ,
.custom-menu .dynamic small i,
.custom-menu .bottom small i {
  margin-right: 5px;
}

.custom-menu .dynamic {
  border-bottom: 1px solid var(--secondary);
}

.custom-menu .dynamic a:hover,
.custom-menu .bottom a:hover {
  cursor: pointer;
  background: var(--main-bg);
}

.custom-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-menu li {
  max-width: 220px;
}