.stories-container {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  padding: 10px 15px;
  background: var(--story-box-bg-color);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.stories-container::-webkit-scrollbar {
  display: none;
}

.story {
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  border: 1px solid var(--story-border-color);
  background: var(--story-image-bg-color);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story:hover {
    cursor: pointer;
}

.story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: var(--story-bg-color);
  border-radius: 20px;
  border: 1px solid var(--primary);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.story-label {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  color: var(--color-333);
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  white-space: wrap;
}

.story-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--story-content-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.story-overlay img {
  max-width: 90vw;
  max-height: auto;
  border-radius: 12px;
}

.story-overlay .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: var(--accent);
  cursor: pointer;
  z-index: 1001;
}

@media (max-width: 768px) {
    .story-overlay .close-btn {
        top: 60px;
    }

    .story-overlay img {
        max-width: 60vw;
        max-height: auto;
        border-radius: 12px;
    }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.home-posts {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  place-items: center;
  color: #1d1d1d95;
}

.home-post-card {
  margin-block: 30px;
  padding: 20px;
  max-width: 600px;
  height: auto;
  background-color: var(--home-post-card-bg);
  border-radius: 20px;
}

.home-post-card-content {
  margin-bottom: 30px;
}

.home-post-card-content h2 {
  text-align: left;
  color: var(--home-post-card-text-color);
}

.home-post-card-content p {
  text-align: left;
  color: var(--home-post-card-text-color);
}

.home-post-card small {
  color: var(--home-post-card-text-color-small);
}

.post-fancy-line {
  display: block;
  height: 1px;
  background: var(--home-post-card-gradient-line);
  border: none;
  border-radius: 100%;
  margin: 30px 0;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .post-fancy-line {
    margin: 25px 0;
  }
}

@media (max-width: 480px) {
  .post-fancy-line {
    margin: 20px 0;
  }
}

.post-actions {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 10px 0;
  font-size: 24px;
}

.post-actions li {
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.like {
  color: var(--post-like-color);
}

@media (min-width: 1025px) {
  .post-actions li:hover {
    transform: scale(1.1);
    color: var(--post-like-color, #012bd5);
  }
}

@media (max-width: 1024px) {
  .post-actions li:active {
    transform: scale(1.1);
    color: var(--post-like-color, #012bd5);
  }
}