@import url(./variables.min.css);
@import url(./navbar.min.css);
@import url(./section.min.css);
@import url(./button.min.css);
@import url(./cards.min.css);
@import url(./notifications.min.css);
@import url(./footer.min.css);
@import url(./offline.min.css);

* {
  box-sizing: border-box;
  user-select: none;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-bg) var(--main-bg);
}

body {
  background-color: var(--light-bg);
  color: var(--dark-text);
  font-family: var(--font-body);
}

i {
  padding-right: 5px;
}

img {
  --webkit-user-drag: none;
  pointer-events: none;
}

.fancy-line {
  height: 2px;
  background: linear-gradient(
    to right,
    var(--secondary),
    var(--primary),
    var(--secondary)
  );
  border: none;
  border-radius: 100%;
  margin: 20px 0;
  opacity: 0.5;
}

.fancy-line-2 {
  height: 2px;
  background: linear-gradient(
    to right,
    var(--primary),
    var(--secondary),
    var(--primary)
  );
  border: none;
  border-radius: 100%;
  margin: 5px 0;
  opacity: 0.5;
}

* {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  letter-spacing: -0.5px;
}

p, span, li, a, input, button {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.7;
}

@media (max-width: 768px) {
  .fancy-line {
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  .fancy-line {
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  .fancy-line-2 {
    margin: 4px 0;
  }
}

@media (max-width: 480px) {
  .fancy-line-2 {
    margin: 3px 0;
  }
}

::-webkit-scrollbar {
  width: thin;
}

::-webkit-scrollbar-track {
  background: var(--dark-text);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  border: 1px solid var(--accent);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-bg);
}

::selection {
  background: var(--main-bg);
  color: var(--accent);
}
