:root {
    --primary: #1A2A6C;
    --secondary: #66D9EF;
    --accent: #ffffff;
    --light-bg: #F9F9F9;
    --dark-text: #2E2E2E;
    --soft-dark-text: #333;
    --neutral-grey: #D3D3D3;
    --general-shadow: rgba(26, 73, 104, 0.562);
    --animated-bg-complete-profile: linear-gradient(-45deg, #0033ff38, #b1c1ff26, #6b89ff89, #0033ff43);

    --premium-bg-color: #FFD700;
    --premium-bg-color-accent: #c7a900;
    --premium-text-color: #eee7d7;
    --premium-text-color-accent: #786127;
    --premium-section-bg: linear-gradient(45deg, #161000, #30260a, #685421, #b29b62, #685421, #30260a, #161000);
    --premium-text-shadow-1: #fff2cce8;
    --premium-text-shadow-2: #ffe066e8;
    --premium-text-shadow-3: #ffcc00e8;
    --premium-box-shadow-1: rgba(255, 204, 0, 0.3);
    --premium-box-shadow-2: rgba(255, 238, 153, 0.4);
    --premium-box-shadow-3: rgba(255, 255, 255, 0.1);
    
    --premium-color-bg-card: rgb(70, 64, 16);
    --premium-color-border-card: #fbe226a0;
    --premium-color-box-shadow: rgba(255, 254, 210, 0.917);
    --premium-color-price: #fbe226;
    --premium-color-text-li: #ccc;
    --premium-color-button-bg: #fbe226;
    --premium-color-button-text: #555555;
    --premium-color-highlighted-border: #fff5ac;
    --premium-color-highlighted-bg: #9a8800;

    --main-bg: #2c4296;

    --chat-hover: #a2dbf588;

    --error: #e74c3c;
    --success: #27ae60;

    --logout: #e74c3c;
    --login: #27ae60;

    
    --first-bg-button: #3498db;
    --button-box-shadow: rgba(52, 152, 219, 0.4);
    --hover-bg-button: #2c4296;
    --button-outline: #1A2A6C;

    --inputs-border-color: #ccc;

    --color-151515: #151515;
    --color-rgba-000-012: rgba(0, 0, 0, 0.12);
    --color-rgba-000-01: rgba(0, 0, 0, 0.1);
    --color-db4437: #DB4437;
    --color-5865f2: #5865F2;
    --color-333: #333;
    --color-rgba-102-217-239-03: rgba(102, 217, 239, 0.3);
    --color-rgba-000-06: rgba(0, 0, 0, 0.6);
    --color-fff: #fff;
    --color-rgba-000-03: rgba(0, 0, 0, 0.3);
    --color-28a745: #28a745;
    --color-dc3545: #dc3545;
    --color-007bff: #007bff;
    --color-e0e0e0: #e0e0e0;
    --color-bdeaff: #bdeaff;
    --color-666: #888;
    --color-666: #666;
    --color-444: #444;
    --color-rgba-000-02: rgba(0, 0, 0, 0.2);
    --color-0056b3: #0056b3;
    --color-c0392b: #c0392b;
    --color-2ecc71: #2ecc71;
    --color-95a5a6: #95a5a6;
    --color-e67e22: #e67e22;
    --color-3498db: #3498db;
    --color-2980b9: #2980b9;
    --color-eee: #eee;
    --color-27ae60: #27ae60;
    --color-rgba-26-42-108-02: rgba(26, 42, 108, 0.2);
    --color-rgba-000-025: rgba(0, 0, 0, 0.25);
}